<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sparcify</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="views/css/normalize.css">
  <link rel="stylesheet" href="views/css/base.css">
  <link rel="stylesheet" href="views/css/layout.css">
  <link rel="stylesheet" href="views/css/modules.css">
  <link rel="stylesheet" href="views/css/states.css">
</head>
<body data-ng-app="sparcify" class="grid-container">
  <a data-ng-if="loggedIn()" data-ng-href="/#/signin" data-ng-click="logOut()">Log Out</a>
<header class="grid-100">
  <h1 class="logo mobile-grid-100">Sparc<span class="icon-power"></span>fy</h1>
  <button class="grid-20 nonFloat">Post a Message</button>
  <button class="grid-20 nonFloat">See Who's Around</button>
</header>
  <main data-ng-view></main>
<footer class="grid-100">
  <p>Website by Andrew, Katie, Matt, and Melissa &copy; 2015</p>
</footer>
<script src="bundle.js"></script>
</body>
</html>
