node_modules/
bower_components/
db/
build/
server/*.swp
server/test2.js
server/lib/tinderOverload.js
server/example_curl_requests
test.js
test/client_test/*_bundle.js
test/client_side/test_bundle.js
test/client_test/karma_test_bundle.js
