 <section class="loginSection grid-90 sectionMod nonFloat">
  <form>
    <ul>
      <li>
        <label for="username">Username</label>
        <input class="mobile-grid-60 nonFloat"type="text" required id="username" data-ng-model="login.username">
      </li>
      <li>
        <label for="password">Password</label>
        <input class="mobile-grid-60 nonFloat"type="password" required id="password" data-ng-model="login.password">
      </li>
      <li>
        <button data-ng-click="signIn()">Submit</button>
      </li>
      <li>
        <a data-ng-href="/#/signup">Not a User Yet?</a>
      </li>
    </ul>
  </form>
</section>
