.logo {
  font-size: 5em;
  color: white;
  margin: 0;
}

.mapImage {
  margin: 1em;
  margin-right: auto;
  margin-left: auto;

}

.sectionMod {
  padding: 1em;
  border-radius: 10px;
  background-color: #FFAC2E;
  border: 2px solid white;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
}

.nonFloat {
  float: none;
}

.sectionHeader {
  color: white;
  display: block;
  text-align: center;
}

.gridImg {
  display: inline;
}

@font-face {
  font-family: 'icomoon';
  src:url('icomoon/fonts/icomoon.eot?qspf18');
  src:url('icomoon/fonts/icomoon.eot?#iefixqspf18') format('embedded-opentype'),
    url('icomoon/fonts/icomoon.woff?qspf18') format('woff'),
    url('icomoon/fonts/icomoon.ttf?qspf18') format('truetype'),
    url('icomoon/fonts/icomoon.svg?qspf18#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: .8em;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-power:before {
  content: "\e9b5";
}
